{% extends "sampleapp/base_account.html" %}

{% block content %}
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Accounts for {{customer_name}} </td>
            <td>
            {% if editable %}
            <a href="{% url 'add_account' admin.uid customer_id %}">
                Add new
            </a>
                {% endif %}
            </td>
            <td>
            <a href="{% url 'customer_list' admin.uid %}">
                Back to customer list
            </a>
            </td>
        </tr>
    </thead>
    <tbody>
    {% for account in account_list %}
        <td>{{account.iban}}</td>
        <td>
            {% if editable %}
                <form action="{% url 'account_delete' admin.uid customer_id account.id %}" method="post">
                {% csrf_token %}
                <button type="submit">
                    Delete
                </button>
            </form>
            {% endif %}
        </td>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}