{% extends "sampleapp/base.html" %}

{% block content %}
<p>You're logged in as {{ admin.extra_data.name }}.</p>
<p>User ID: {{ admin.uid }}</p>
<a href="{% url 'account_logout' %}">Logout</a>
<table class="table table-borderless">
    <thead class="border-bottom font-weight-bold">
        <tr>
            <td>Name</td>
            <td>Last Name</td>
            <td>Administrator</td>
            <td>
            <a href="{% url 'customer_insert' admin.uid %}">
                Add new
            </a>
        </td>
        </tr>
    </thead>
    <tbody>
    {% for customer in customer_list %}
        <td>{{customer.name}}</td>
        <td>{{customer.last_name}}</td>
        <td>{{customer.administrator}}</td>
        <td>

            <a href="{% url 'account_list' admin.uid customer.id %}">
                View accounts
            </a>
            {% if customer.administrator.uid == admin.uid %}
            <a href="{% url 'customer_update' admin.uid customer.id %}">
                Edit
            </a>
            <form action="{% url 'customer_delete' admin.uid customer.id %}" method="post">
                {% csrf_token %}
                <button type="submit">
                    Delete
                </button>
            </form>
            {% endif %}
        </td>
        <br>
    {% endfor %}
    </tbody>
</table>
{% endblock content %}