<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p>You're logged in with {{ user.get_provider }} as {{ user }}.</p>

{% if administrators %}
    <ul>
        <h2>Administrators</h2>
        {% for admin in administrators %}
            {{admin.name}}:{{admin.id}}
        {% endfor %}

        {% if customers %}
            <h2>Customers</h2>
            {% for customer in customers %}
                {{customer.name}} {{customer.last_name}}: {{customer.id}}
            {% endfor %}
        {% endif %}
    </ul>
{% else %}
    <p>No administrators are available.</p>
{% endif %}

<h1>Add administrator</h1>
<form action="thanks/" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit">
</form>
</body>
</html>